.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.header-title {
    margin: auto;
    text-align: left;
    
    ion-text {
        font-weight: 700;
    }
}

.header-tabs {  
    ul {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
    }
}